<li role="presentation" class="dropdown">
    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown"
       aria-expanded="false">
        <i class="fa fa-envelope-o"></i>
        <span class="badge bg-green">6</span>
    </a>
    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
        <li>
            <a>
                <span class="image">
                    <img src="../assets/images/user.png"
                         alt="Profile Image" />
                </span>
                <span>
                    <span>نام کاربر</span>
                    <span class="time">3 دقیقه پیش</span>
                </span>
                <span class="message">
                    آماده سازی نسخه اولیه
                </span>
            </a>
        </li>
        <li>
            <a>
                <span class="image">
                    <img src="../assets/images/user.png"
                         alt="Profile Image" />
                </span>
                <span>
                    <span>نام کاربر</span>
                    <span class="time">3 دقیقه پیش</span>
                </span>
                <span class="message">
                    آماده سازی نسخه اولیه
                </span>
            </a>
        </li>
        <li>
            <a>
                <span class="image">
                    <img src="../assets/images/user.png"
                         alt="Profile Image" />
                </span>
                <span>
                    <span>نام کاربر</span>
                    <span class="time">3 دقیقه پیش</span>
                </span>
                <span class="message">
                    آماده سازی نسخه اولیه
                </span>
            </a>
        </li>
        <li>
            <a>
                <span class="image">
                    <img src="../assets/images/user.png"
                         alt="Profile Image" />
                </span>
                <span>
                    <span>نام کاربر</span>
                    <span class="time">3 دقیقه پیش</span>
                </span>
                <span class="message">
                    آماده سازی نسخه اولیه
                </span>
            </a>
        </li>
        <li>
            <div class="text-center">
                <a>
                    <strong>مشاهده تمام اعلان ها</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </li>
    </ul>
</li>