<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col hidden-print">
      <div class="left_col scroll-view">

        <!-- Application information -->
        <app-app-data></app-app-data>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <app-user-info></app-user-info>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <app-sidebar-menu></app-sidebar-menu>

        <!-- menu footer buttons -->
        <app-sidebar-footer-menu></app-sidebar-footer-menu>
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav hidden-print">
      <div class="nav_menu">
        <nav>
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <app-user-profile></app-user-profile>

            <app-user-messages></app-user-messages>
          </ul>
        </nav>
      </div>
    </div>
    <!-- /top navigation -->
    <!-- /header content -->
    <!-- page content -->
    <div class="right_col" role="main">

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <app-home></app-home>
        </div>

      </div>
      <br />

    </div>
    <!-- /page content -->
    <!-- footer content -->
    <app-footer></app-footer>
    <!-- /footer content -->
  </div>
</div>
<app-lock-clock></app-lock-clock>
